<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjweu.mapper.TrainingRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zjweu.po.TrainingRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="scene_id" property="sceneId" />
        <result column="score_id" property="scoreId" />
        <result column="feedback" property="feedback" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, scene_id, score_id, feedback, create_date
    </sql>
    <select id="pageQuery" resultType="com.zjweu.vo.TraningRecordPageVO" parameterType="com.zjweu.vo.TraningRecordPageVO">
        select tr.id id,feedback, tr.create_date createDate,total_score,sc.name sceneName,nickname nickName from Training_Record tr left join Score s
        on tr.score_id=s.id
        left join Scene sc
        on tr.scene_id=sc.id
        left join User
        on tr.user_id = User.id
        <where>
            <if test="sceneId != null and sceneId != ''">
                and scene_id =#{sceneId}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname like concat('%',#{nickname},'%')
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId}
            </if>
        </where>

    </select>
    <select id="getAvgScore" resultType="java.lang.Double">
        select avg(total_score)  from  Training_Record tr left join Score s
        on tr.score_id=s.id
        <where>
            <if test="begin != null">
                and create_date &gt; #{begin}
            </if>
            <if test="end != null">
                and create_date &lt; #{end}
            </if>
            <if test="id != null">
                and user_id = #{id}
            </if>
        </where>
    </select>
    <select id="getCounts" resultType="java.lang.Double">
        select count(*)  from  Training_Record
        <where>
            <if test="begin != null">
                and create_date &gt; #{begin}
            </if>
            <if test="end != null">
                and create_date &lt; #{end}
            </if>
            <if test="id != null">
                and user_id = #{id}
            </if>
        </where>

    </select>
    <select id="getSceneCounts" resultType="com.zjweu.vo.SceneCounts">
        select s.name sceneName,COUNT(*) avg from  Training_Record tr
        left join Scene s on tr.scene_id = s.id
        <where>
            <if test="id != null">
                and user_id = #{id}
            </if>
        </where>
        GROUP BY s.id
    </select>
    <select id="getSceneAvg" resultType="com.zjweu.vo.SceneCounts">
        select s.name sceneName,avg(total_score) avg from  Training_Record tr
        left join Scene s on tr.scene_id = s.id
        left join Score sc
        on tr.score_id=sc.id
        <where>
            <if test="id != null">
                and user_id = #{id}
            </if>
        </where>
        GROUP BY s.id

    </select>


</mapper>
